<div class="panel panel-primary">
  <div class="panel-heading">

  </div>
  <div class="panel-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">First Name</label>
        <input type="text" class="form-control" formControlName="name" #name />
      </div>
      <div
        *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['name'].errors.required">
          Name is required.
        </div>
      </div><br>
      <div class="form-group">
        <label class="col-md-4">Last Name</label>
        <input type="text" class="form-control" formControlName="LastName" #LastName/>
      </div>
      <div
        *ngIf="angForm.controls['LastName'].invalid && (angForm.controls['LastName'].dirty || angForm.controls['LastName'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['LastName'].errors.required">
          Lastname is required.
        </div>
      </div><br>
    
      <div class="form-group">
        <label class="col-md-4">Phone</label>
        <input type="text" class="form-control" formControlName="phone" #phone/>
      </div>
      <div
        *ngIf="angForm.controls['phone'].invalid && (angForm.controls['phone'].dirty || angForm.controls['phone'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['phone'].errors.required">
          Phone is required.
        </div>
      </div><br>
      <div class="form-group">
        <label class="col-md-4">Email</label>
        <input type="text" class="form-control" formControlName="Email" #Email/>
      </div>
      <div
        *ngIf="angForm.controls['Email'].invalid && (angForm.controls['Email'].dirty || angForm.controls['Email'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['email'].errors.required">
          Email is required.
        </div>
      </div><br>
         <div class="form-group">
        <label class="col-md-4">Monthly Budget</label>
        <input type="text" class="form-control" formControlName="phone" #price/>
      </div>
      <div
        *ngIf="angForm.controls['price'].invalid && (angForm.controls['price'].dirty || angForm.controls['price'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['phone'].errors.required">
          amount is required.
        </div>
      </div><br>
      <div class="form-group">
        <button (click)="addCoin(name.value, LastName.value,phone.value,Email.value,price.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>

</div>